.wrapper
  = render "groups/chat-side"
  .chat-side
  .chat-main
    .main-header
      .main-header__left-box{"data-group": "#{@group.id}"}
        .main-header__left-box__group
          = @group.name
        .main-header__left-box__member
          member :
          - @group.users.each do |member|
            = member.name
      .main-header__right-box
        = link_to "Edit", edit_group_path(@group.id), class: "main-header__right-box__color"

    .messages
      = render @messages


    .form
      .form__main 
        .form__main__box
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__main__box__font', placeholder: 'type a message'
            = f.label :image, class: 'form__main__box__image' do
              = fa_icon 'image',class: 'far'
              = f.file_field :image, class: 'form__main__box__image__far'
            = f.submit 'Send', class: 'form__main__box__send'

